<div class="card">
    <div class="card-header">
        <h2>{{ isView ? 'View data use process' : isEdit ? 'Edit data use process' : 'Add new data use process'}}</h2>
        <div style="float: right; margin-top: -40px;" *ngIf="isView">
            <a [routerLink]="['/data-use', id, 'edit']"
               class="btn btn-primary mr-5" target="_blank">
                <i class="fa fa-edit"></i> Edit
            </a>
            <button class="btn btn-primary mr-1">
                <i class="fa fa-print"></i> Print
            </button>
            <button class="btn btn-primary">
                <i class="fa fa-code"></i> JSON
            </button>
        </div>
        <div style="float: right; margin-top: -40px;" *ngIf="!isView">
            <button class="btn btn-primary mr-5" (click)="addStudy()">Add Study</button>
            <!-- <button class="btn btn-primary mr-5" (click)="addDataObject()"> Add Data Object</button> -->
            <button class="btn btn-primary" (click)="addUser()">Add User</button>
        </div>
        <div>
            <h6>{{dupData?.displayName}} transfer details</h6>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-12">
                    <span class="font-style">Associated Studies</span>
                    <ng-container *ngIf="associatedStudies.length <= 0">
                        <p>No Associated Study</p>
                    </ng-container>
                    <ng-container *ngIf="associatedStudies.length > 0">
                        <ul>
                            <li *ngFor="let study of associatedStudies; let i = index" class="pl-4">
                                {{study.displayTitle}}({{study.sdSid}})
                                <i class="fa fa-times pl-3" (click)="removeStudy(i)"></i>
                                <!-- <button type="button" class="btn btn-outline-primary">Add Object
                                </button>
                                <button type="button" class="btn btn-outline-danger" (click)="removeStudy(i)">Remove study
                                </button> -->
                            </li>
                        </ul>
                    </ng-container>
                    <br>
                    <hr>
                    <span class="font-style">Associated Data Objects</span>
                    <ng-container *ngIf="associatedStudies.length <= 0">
                        <p>No Associated Data Object</p>
                    </ng-container>
                    <br>
                    <hr>
                    <span class="font-style">Associated Users</span>
                    <ng-container *ngIf="associatedStudies.length <= 0">
                        <p>No Associated Users</p>
                    </ng-container>
                    <br>
                </div>
            </div>
            <hr />
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="" class="font-style text-capitalize">organization</label>
                    <ng-select [items]="organizationList" bindLabel="defaultName" bindValue="id" formControlName="orgId"
                        [multiple]="false" [virtualScroll]="true" class="custom" notFoundText="No members found"
                        placeholder="Select Organisation" *ngIf="!isView" [ngClass]="{ 'is-invalid': submitted && g.orgId.errors }">
                    </ng-select>
                    <div class="col-md-12 invalid-feedback" *ngIf="submitted && g.orgId.errors">
                        <p *ngIf="submitted && g.orgId.errors.required"> Please select Organization</p>
                    </div>    
                    <h6 *ngIf="isView" style="font-weight: 100;">{{findOrganization(dupData?.orgId)}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="" class="font-style text-capitalize">Display Name</label>
                    <input type="text" class="form-control" formControlName="displayName" *ngIf="!isView" [ngClass]="{ 'is-invalid': submitted && g.displayName.errors }">
                    <div class="col-md-12 invalid-feedback" *ngIf="submitted && g.displayName.errors">
                        <p *ngIf="submitted && g.displayName.errors.required"> Please enter the Display Name</p>
                    </div>    
                    <h6 *ngIf="isView" style="font-weight: 100;">{{dupData?.displayName}}</h6>
                </div>
            </div>
            <div class="row form-group" *ngIf="isEdit || isView">
                <div class="col-md-6">
                    <label for="" class="font-style text-capitalize">Status</label>
                    <button class="btn btn-danger btn-sm" *ngIf="!isView" (click)="resetAll()">Reset</button>
                    <select class="form-control" formControlName="statusId" *ngIf="showStatus" (change)="onChange()">
                        <option disabled selected value="">Select an option...</option>
                        <option [value]=status.id *ngFor="let status of statusList">{{status.name}}</option>
                    </select>
                    <h6 *ngIf="!showStatus || isView" style="font-weight: 100;">{{findStatus(dupData?.statusId)}}</h6>
                </div>
            </div>    
            <div #wizard class="wizard wizard-1" id="kt_wizard_v1" data-wizard-state="step-first" data-wizard-clickable="true">
                <div class="wizard-nav border-bottom">
                    <div class="wizard-steps p-8 p-lg-10">
                        <a class="wizard-step" href="javascript:;" data-wizard-type="step" >
                            <div class="wizard-label">
                                <i class="wizard-icon flaticon2-browser-1"></i>
                                <h3 class="wizard-title">Creation</h3>
                                <i class="fa fa-check-circle" style="color: green;" *ngIf="!(isEdit || isView) ? 1 < currentStatus : 1 < currentStatus"></i>
                                <i class="fa fa-exclamation-circle" style="color: orange;" *ngIf="1 === currentStatus"></i>
                            </div>
                        </a>
                        <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                            <div class="wizard-label">
                              <i class="wizard-icon flaticon2-setup"></i>
                              <h3 class="wizard-title">Set Up</h3>
                              <i class="fa fa-check-circle" style="color: green;" *ngIf="!(isEdit || isView) ? 2 < currentStatus : 2 < currentStatus"></i>
                              <i class="fa fa-exclamation-circle" style="color: orange;" *ngIf="2 === currentStatus"></i>
                            </div>
                          </a>
                          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                            <div class="wizard-label">
                              <i class="wizard-icon flaticon-responsive"></i>
                              <h3 class="wizard-title">Preparation</h3>
                              <i class="fa fa-check-circle" style="color: green;" *ngIf="!(isEdit || isView) ? 3 < currentStatus : 3 < currentStatus"></i>
                              <i class="fa fa-exclamation-circle" style="color: orange;" *ngIf="3 === currentStatus"></i>
                            </div>
                          </a>
                          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                            <div class="wizard-label">
                              <i class="wizard-icon flaticon-truck"></i>
                              <h3 class="wizard-title">Checking</h3>
                              <i class="fa fa-check-circle" style="color: green;" *ngIf="!(isEdit || isView) ? 4 < currentStatus : 4 < currentStatus"></i>
                              <i class="fa fa-exclamation-circle" style="color: orange;" *ngIf="4 === currentStatus"></i>
                            </div>
                          </a>
                          <!-- <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                            <div class="wizard-label">
                              <i class="wizard-icon flaticon-globe"></i>
                              <h3 class="wizard-title">Checking</h3>
                            </div>
                          </a> -->
                          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                            <div class="wizard-label">
                              <i class="wizard-icon flaticon2-open-text-book"></i>
                              <h3 class="wizard-title">Complete</h3>
                              <i class="fa fa-check-circle" style="color: green;" *ngIf="!(isEdit || isView) ? 5 < currentStatus : 5 < currentStatus"></i>
                              <i class="fa fa-exclamation-circle" style="color: orange;" *ngIf="5 === currentStatus"></i>
                            </div>
                          </a>              
                    </div>
                </div>
                <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                    <div class="col-md-12" data-wizard-type="step-content" data-wizard-state="current">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="font-style text-capitalize">Initial Contact Date</label>
                                <div class="form-group" *ngIf="!isView">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="initialContactDate" ngbDatepicker
                                            #initialContactDate="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && g.initialContactDate.errors }" (click)="initialContactDate.toggle()" formControlName="initialContactDate" [maxDate]="todayDate">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="initialContactDate.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <h6 *ngIf="isView" style="font-weight: 100;">{{viewDate(dupData?.initialContactDate)}}</h6>            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" data-wizard-type="step-content">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="font-style text-capitalize">SetUp Completed</label>
                                <div class="form-group" *ngIf="!isView">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="setUpCompleted" ngbDatepicker
                                            #setUpCompleted="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && g.setUpCompleted.errors }" (click)="setUpCompleted.toggle()" formControlName="setUpCompleted" [maxDate]="todayDate">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="setUpCompleted.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <h6 *ngIf="isView" style="font-weight: 100;">{{viewDate(dupData?.setUpCompleted)}}</h6>            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" data-wizard-type="step-content">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="font-style text-capitalize">PreRequest Met</label>
                                <div class="form-group" *ngIf="!isView">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="prereqsMet" ngbDatepicker
                                            #prereqsMet="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && g.prereqsMet.errors }" (click)="prereqsMet.toggle()" formControlName="prereqsMet" [maxDate]="todayDate">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="prereqsMet.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <h6 *ngIf="isView" style="font-weight: 100;">{{viewDate(dupData?.prereqsMet)}}</h6>            
                            </div>
                            <div class="col-md-6">
                                <label for="" class="font-style text-capitalize">DUA Agreed Date</label>
                                <div class="form-group" *ngIf="!isView">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="duaAgreedDate" ngbDatepicker
                                            #duaAgreedDate="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && g.duaAgreedDate.errors }" (click)="duaAgreedDate.toggle()" formControlName="duaAgreedDate" [maxDate]="todayDate">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="duaAgreedDate.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <h6 *ngIf="isView" style="font-weight: 100;">{{viewDate(dupData?.duaAgreedDate)}}</h6>            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" data-wizard-type="step-content">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="font-style text-capitalize">Availability Requested</label>
                                <div class="form-group" *ngIf="!isView">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="availabilityRequested" ngbDatepicker
                                            #availabilityRequested="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && g.availabilityRequested.errors }" (click)="availabilityRequested.toggle()" formControlName="availabilityRequested" [maxDate]="todayDate">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="availabilityRequested.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <h6 *ngIf="isView" style="font-weight: 100;">{{viewDate(dupData?.availabilityRequested)}}</h6>
                            </div>
                            <div class="col-md-6">
                                <label for="" class="font-style text-capitalize">Availability Confirmed</label>
                                <div class="form-group" *ngIf="!isView">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="availabilityConfirmed" ngbDatepicker
                                            #availabilityConfirmed="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && g.availabilityConfirmed.errors }" (click)="availabilityConfirmed.toggle()" formControlName="availabilityConfirmed" [maxDate]="todayDate">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="availabilityConfirmed.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <h6 *ngIf="isView" style="font-weight: 100;">{{viewDate(dupData?.availabilityConfirmed)}}</h6>            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" data-wizard-type="step-content">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="font-style text-capitalize">Access Confirmed</label>
                                <div class="form-group" *ngIf="!isView">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="accessConfirmed" ngbDatepicker
                                            #accessConfirmed="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && g.accessConfirmed.errors }" (click)="accessConfirmed.toggle()" formControlName="accessConfirmed" [maxDate]="todayDate">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="accessConfirmed.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <h6 *ngIf="isView" style="font-weight: 100;">{{viewDate(dupData?.accessConfirmed)}}</h6>            
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-top pt-10">
                        <div class="mr-2">
                            <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-prev" (click)="buttonClick='previous'">
                                Previous
                            </div>
                        </div>
                        <div>
                            <div class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-next" [hidden]="isView ? !(currentStatus > nextStep) : false" (click)="buttonClick='next'">
                                Next Step
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        <hr />    
            <div class="row">
                <div class="col-md-12 justify-content-center text-center">
                    <button class="btn btn-success mr-5" *ngIf="!isView" (click)="onSave()">{{isEdit ? 'Apply Changes' :
                        'Save'}}</button>
                    <button class="btn btn-danger" (click)="close()"> {{isView ? 'Back' : 'Cancel'}}</button>
                </div>
            </div>
    
        </div>
    </form>
</div>

<br />