<div class="card">
    <div class="card-header">
        <h2>{{ isView ? 'View new data use process' : isEdit ? 'Edit new data use process' : 'Add new data use process'}}</h2>
        <div style="float: right; margin-top: -40px;" *ngIf="isView">
            <a [routerLink]="['/data-transfers', '1', 'edit']"
               class="btn btn-primary mr-5" target="_blank">
                <i class="fa fa-edit"></i> Edit
            </a>
            <button class="btn btn-primary mr-1">
                <i class="fa fa-print"></i> Print
            </button>
            <button class="btn btn-primary">
                <i class="fa fa-code"></i> JSON
            </button>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Organisation</h6>
                </div>
                <div class="col-md-8">
                    <ng-select [items]="organizationList" bindLabel="defaultName" bindValue="id" formControlName="orgId"
                        [multiple]="false" [virtualScroll]="true" class="custom" notFoundText="No members found"
                        placeholder="Select email" *ngIf="!isView">
                    </ng-select>
                    <span *ngIf="isView">{{findOrganization(dupData.orgId)}}</span>
    
                </div>
            </div>
    
            <br>
    
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Display Name</h6>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="displayName" *ngIf="!isView">
                    <span *ngIf="isView">{{dupData.displayName}}</span>
                </div>
            </div>
    
            <br>
    
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Status Type</h6>
                </div>
                <div class="col-md-8">
                    <select class="form-control" formControlName="statusId" *ngIf="!isView">
                        <option disabled selected value="">Select an option...</option>
                        <option [value]=status.id *ngFor="let status of statusList">{{status.name}}</option>
                    </select>
                    <span *ngIf="isView">{{findStatus(dupData.statusId)}}</span>
                </div>
            </div>
    
            <br />
    
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Inital Contact Date</h6>
                </div>
                <div class="col-md-8">
                    <div class="form-group" *ngIf="!isView">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="initialContactDate" ngbDatepicker
                                #initialContactDate="ngbDatepicker" formControlName="initialContactDate">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="initialContactDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="isView">{{viewDate(dupData.initialContactDate)}}</span>
                </div>
            </div>
    
            <br />
    
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">SetUp Completed</h6>
                </div>
                <div class="col-md-8">
                    <div class="form-group" *ngIf="!isView">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="setUpCompleted" ngbDatepicker
                                #setUpCompleted="ngbDatepicker" formControlName="setUpCompleted">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="setUpCompleted.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="isView">{{viewDate(dupData.setUpCompleted)}}</span>
                </div>
            </div>
    
            <br />
    
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">PreRequest Met</h6>
                </div>
                <div class="col-md-8">
                    <div class="form-group" *ngIf="!isView">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="prereqsMet" ngbDatepicker
                                #prereqsMet="ngbDatepicker" formControlName="prereqsMet">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="prereqsMet.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="isView">{{viewDate(dupData.prereqsMet)}}</span>
                </div>
            </div>
    
            <br>
    
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">DUA Agreed Date</h6>
                </div>
                <div class="col-md-8">
                    <div class="form-group" *ngIf="!isView">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="availabilityRequested" ngbDatepicker
                                #duaAgreedDate="ngbDatepicker" formControlName="duaAgreedDate">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="duaAgreedDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="isView">{{viewDate(dupData.duaAgreedDate)}}</span>
                </div>
            </div>
    
            <br />
    
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Availability Requested</h6>
                </div>
                <div class="col-md-8">
                    <div class="form-group" *ngIf="!isView">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="availabilityRequested" ngbDatepicker
                                #availabilityRequested="ngbDatepicker" formControlName="availabilityRequested">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="availabilityRequested.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="isView">{{viewDate(dupData.availabilityRequested)}}</span>
                </div>
            </div>
    
            <br>
    
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Availability Confirmed</h6>
                </div>
                <div class="col-md-8">
                    <div class="form-group" *ngIf="!isView">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="availabilityConfirmed" ngbDatepicker
                                #availabilityConfirmed="ngbDatepicker" formControlName="availabilityConfirmed">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="availabilityConfirmed.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="isView">{{viewDate(dupData.availabilityConfirmed)}}</span>
                </div>
            </div>
    
            <br>
    
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Access Confirmed</h6>
                </div>
                <div class="col-md-8">
                    <div class="form-group" *ngIf="!isView">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="accessConfirmed" ngbDatepicker
                                #accessConfirmed="ngbDatepicker" formControlName="accessConfirmed">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="accessConfirmed.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="isView">{{viewDate(dupData.accessConfirmed)}}</span>
                </div>
            </div>
    
    
    
            <hr />
    
            <div class="row">
                <div class="col-md-12 justify-content-center text-center">
                    <button class="btn btn-success mr-5" *ngIf="!isView" (click)="onSave()">{{isEdit ? 'Apply Changes' :
                        'Save'}}</button>
                    <button class="btn btn-danger" (click)="close()"> {{isView ? 'Back' : 'Cancel'}}</button>
                </div>
            </div>
    
        </div>
    </form>
</div>

<br />