<div class="row">
    <div class="col-6">
        <app-study-widget></app-study-widget>
    </div>
    <div class="col-6">
        <app-object-widget></app-object-widget>
    </div>
</div>
<br />
<div class="row">
    <div class="col-6">
        <app-recent-studies></app-recent-studies>
    </div>
    <div class="col-6">
        <app-recent-objects></app-recent-objects>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <app-recent-data-transfers></app-recent-data-transfers>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <app-recent-data-accesses></app-recent-data-accesses>
    </div>
</div>


<br />

