<div class="card">
    <div class="card-header">
        <h2>Edit data object</h2>
    </div>

    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Display title</h6>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter study display title..." />
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">DOI</h6>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter DOI..." />
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Version</h6>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter version..." />
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Object class</h6>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Object type</h6>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Publication year</h6>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter version..." />
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Language</h6>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Managing organisation</h6>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter version..." />
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">Access type</h6>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Access details</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Description</strong>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control"
                              cols="30" rows="5"
                              placeholder="Enter a data sharing statement"
                    ></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>URL</strong>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter..." />
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4 text-center">
                    <h6 class="pt-4">EOSC category</h6>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Dataset record keys</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Keys type</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Keys details</strong>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control"
                              cols="30" rows="5"
                              placeholder="Enter a data sharing statement"
                    ></textarea>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Dataset deidentification level</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Deidentification type</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Deidentification direct</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Deidentification HIPAA</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Deidentification dates</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Deidentification NOARR</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Deidentification KANON</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Deidentification details</strong>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control"
                              cols="30" rows="5"
                              placeholder="Enter a data sharing statement"
                    ></textarea>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Dataset consent</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Consent type</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Consent noncommercial</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Consent geographical restrict</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Consent research type</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Consent genetic only</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Consent no methods</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Consent details</strong>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control"
                              cols="30" rows="5"
                              placeholder="Enter a data sharing statement"
                    ></textarea>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Object instance(s)</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Repository organisation</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter..." />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Access details: Direct access</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Access details: URL</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter,,," />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Resource details: Resource type</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Resource details: Size</strong>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Enter a parameter..." />
                        </div>
                        <div class="col-4">
                            <select class="form-control">
                                <option selected disabled>Select an option...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Resource details</strong>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control"
                              cols="30" rows="5"
                              placeholder="Enter a data sharing statement"
                    ></textarea>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Object title(s)</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Title type</strong>
                </div>
                <div class="col-md-8">
                    <select class="form-control">
                        <option disabled selected value="">Select an option...</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Title text</strong>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter..." />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Language code</strong>
                </div>
                <div class="col-md-8">
                    <select class="form-control">
                        <option disabled selected value=""></option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Comments</strong>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control" cols="30" rows="10"></textarea>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Object date(s)</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Date type</strong>
                </div>
                <div class="col-md-8">
                    <select class="form-control">
                        <option disabled selected value="">Select an option...</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Is date range?</strong>
                </div>
                <div class="col-md-8">
                    <select class="form-control">
                        <option disabled selected value="">Select an option...</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Start date</strong>
                </div>
                <div class="col-md-8">
                    <div>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                           name="dp"
                                           ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary"
                                                (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>End date</strong>
                </div>
                <div class="col-md-8">
                    <div>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                           name="dp"
                                           ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary"
                                                (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Comments</strong>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control" cols="30" rows="10"></textarea>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Object contributor(s)</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Contributor type</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Is individual?</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Organisation</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter...">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Person: Family name</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter...">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Person: Given name</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter...">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Person: ORCID</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter...">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Person: Affiliation</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter...">
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Object topic(s)</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Topic type</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>MESH coded</strong>
                </div>
                <div class="col-8">
                    <select class="form-control">
                        <option selected disabled>Select an option...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Topic code</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter...">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Topic value</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter...">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Topic qualified code</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter...">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Topic qualified code value</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter...">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Original value</strong>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter...">
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Object identifier(s)</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Identifier type</strong>
                </div>
                <div class="col-md-8">
                    <select class="form-control">
                        <option disabled selected value="">Select an option...</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Identifier value</strong>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter..." />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Identifier organisation</strong>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter..." />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Identifier date</strong>
                </div>
                <div class="col-md-8">
                    <div>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                           name="dp"
                                           ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary"
                                                (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Object descriptions(s)</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Description type</strong>
                </div>
                <div class="col-md-8">
                    <select class="form-control">
                        <option disabled selected value="">Select an option...</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Description label</strong>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Enter a parameter..." />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Description text</strong>
                </div>
                <div class="col-md-8">
                    <textarea
                            cols="30"
                            rows="10"
                            placeholder="Enter..."
                            class="form-control"
                    ></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Language code</strong>
                </div>
                <div class="col-md-8">
                    <select class="form-control">
                        <option disabled selected value=""></option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Contains HTML?</strong>
                </div>
                <div class="col-md-8">
                    <select class="form-control">
                        <option disabled selected value="">Select an option...</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Object right(s)</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Rights name</strong>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Enter...">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Rights URL</strong>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Enter...">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Comments</strong>
                </div>
                <div class="col-md-8">
                    <textarea
                            cols="30"
                            rows="10"
                            placeholder="Enter..."
                            class="form-control"
                    ></textarea>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 class="pt-3">Object relationship(s)</h6>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Relationship type</strong>
                </div>
                <div class="col-md-8">
                    <select class="form-control">
                        <option disabled selected value="">Select an option...</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center">
                    <strong>Target data object</strong>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 justify-content-center text-center">
                    <button class="btn btn-success mr-5">Save</button>
                    <button class="btn btn-danger">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>

<br />
