<form [formGroup]="form">
    <ng-template [ngIf]="studyFeatures().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No study features yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="studyFeatures().length > 0">
        <div formArrayName="studyFeatures">
            <div class="row" *ngFor="let studyFeature of studyFeatures().controls;
           let i = index;" [formGroupName]="i">
                <div class="col-12 mb-5">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Feature {{i + 1}}
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Feature type</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="featureType">
                                    <option disabled selected value="">Select an option...</option>
                                    <option [value]="feature.id" *ngFor="let feature of featureTypes">{{feature.name}}</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Feature value</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="featureValue">
                                    <option disabled selected value="">Select an option...</option>
                                    <option [value]="feature.id" *ngFor="let feature of featureValues">{{feature.name}}</option>
                                    <!-- <option value="1">1</option> -->
                                </select>
                            </div>
                        </div>
                        <mat-action-row>
                            <button mat-button color="warn" (click)="removeStudyFeature(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>



<div class="row">
    <div class="col-12 text-center justify-content-center mt-5">
        <button class="btn btn-primary" (click)="addStudyFeature()">
            <i class="fa fa-plus"></i> Add new study feature
        </button>
    </div>
</div>