<!--begin::Signin-->
<div class="login-form login-signin">
  <!--begin::Title-->
  <div class="pb-13 pt-lg-0 pt-5">
    <h1 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg text-uppercase">
      Clinical Research Repository
    </h1>
    <span>
      Supporting clinical researcher in sharing their data for re-analysis and secondary analysis.
      <br>Enabling patient-level data meta-analysis.
    </span>
  </div>
  <!--end::Title-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div
      class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
    >
      <div class="alert-text">The login details are incorrect</div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Action-->
  <div class="pb-lg-0 pb-5">
    <form>
      <!-- <div class="row">
        <div class="col-md-12">
          <label for="username" class="font-style">Username</label>
          <input type="text" id="username" class="form-control">
        </div>
        <div class="col-md-12 pt-2">
          <label for="password" class="font-style">Password</label>
          <input type="password" id="password" class="form-control">
        </div>
      </div> -->
      <button type="button" class="btn btn-light-primary font-weight-bolder px-8 py-4 my-3 font-size-lg mr-3"
        (click)="login()">
        <span class="svg-icon svg-icon-md">
          <img src="./assets/media/svg/social-icons/elixir.png" style="width: 20px !important; height: 20px !important;" />
        </span>
        Sign in
      </button>
    </form>
    <br />
    <!-- <div style="padding-top: 3px;">
      <a href="javascript:void(0)" class="text-primary font-weight-bolder font-size-h6" (click)="login()">ECRIN or TSD member? Sign in here</a>
    </div> -->
    <ng-container *ngIf="isLoading$ | async">
      <span class="spinner spinner-primary ml-5"></span>
    </ng-container>
  </div>
  <!--end::Action-->
</div>
<!--end::Signin-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
