<div class="card">
    <div class="card-header">
        <h2>{{ isView ? 'View data transfer details' : isEdit ? 'Edit data transfer' : 'Add new data transfer'}}</h2>
        <div style="float: right; margin-top: -40px;" *ngIf="isView">
            <a [routerLink]="['/data-transfers', '1', 'edit']"
               class="btn btn-primary mr-5" target="_blank">
                <i class="fa fa-edit"></i> Edit
            </a>
            <button class="btn btn-primary mr-1">
                <i class="fa fa-print"></i> Print
            </button>
            <button class="btn btn-primary">
                <i class="fa fa-code"></i> JSON
            </button>
        </div>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-4 text-center">
                <h6 class="pt-4">Organisation</h6>
            </div>
            <div class="col-8">
                <input type="text"
                       class="form-control"
                       placeholder="Enter a parameter..."
                />
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-4 text-center">
                <h6 class="pt-4">Notes</h6>
            </div>
            <div class="col-8">
                <textarea
                        class="form-control"
                        placeholder="Enter a parameter..."
                ></textarea>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-4 text-center">
                <h6 class="pt-4">Data object</h6>
            </div>
            <div class="col-8">
                <input type="text"
                       class="form-control"
                       placeholder="Enter a parameter..."
                />
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4 text-center">
                <h6 class="pt-4">Access type</h6>
            </div>
            <div class="col-8">
                <select class="form-control">
                    <option disabled selected value="">Select an option...</option>
                    <option value="1">1</option>
                </select>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4 text-center">
                <h6 class="pt-4">Access details</h6>
            </div>
            <div class="col-8">
                <textarea type="text"
                          class="form-control"
                          rows="5" cols="30"
                          placeholder="Enter a parameter..."
                ></textarea>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4 text-center">
                <h6 class="pt-4">Notes</h6>
            </div>
            <div class="col-8">
                <textarea type="text"
                          class="form-control"
                          rows="5" cols="30"
                          placeholder="Enter a parameter..."
                ></textarea>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-4 text-center">
                <h6 class="pt-4">Study</h6>
            </div>
            <div class="col-8">
                <input type="text"
                       class="form-control"
                       placeholder="Enter a parameter..."
                />
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4 text-center">
                <h6 class="pt-4">MD check status</h6>
            </div>
            <div class="col-8">
                <input type="text"
                       class="form-control"
                       placeholder="Enter a parameter..."
                />
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4 text-center">
                <h6 class="pt-4">Notes</h6>
            </div>
            <div class="col-8">
                <textarea type="text"
                          class="form-control"
                          rows="5" cols="30"
                          placeholder="Enter a parameter..."
                ></textarea>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12 justify-content-center text-center">
                <button class="btn btn-success mr-5" *ngIf="!isView">{{isEdit ? 'Apply Changes' : 'Save'}}</button>
                <button class="btn btn-danger"> {{isView ? 'Back' : 'Cancel'}}</button>
            </div>
        </div>

    </div>
</div>

<br />

