<form [formGroup]="form">
    <ng-template [ngIf]="objectDescriptions().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object descriptions yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectDescriptions().length > 0">
        <div formArrayName="objectDescriptions">
            <div class="row" *ngFor="let objectDescription of objectDescriptions().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            {{findDescriptionType(objectDescription.value.descriptionTypeId)}}
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Description type</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" *ngIf="!isView" formControlName="descriptionTypeId">
                                    <option disabled selected value="">Select an option...</option>
                                    <option [value]=description.id *ngFor="let description of descriptionType">{{description.name}}</option>
                                </select>
                                <span *ngIf="isView">{{findDescriptionType(objectDescription.value.descriptionTypeId)}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Description label</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="label" *ngIf="!isView" />
                                <span *ngIf="isView">{{objectDescription.value.label}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Description text</strong>
                            </div>
                            <div class="col-md-8">
                                <textarea cols="30" rows="10" placeholder="Enter a parameter..."
                                    formControlName="descriptionText" class="form-control" *ngIf="!isView"></textarea>
                                <span *ngIf="isView">{{objectDescription.value.descriptionText}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Language code</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="langCode" *ngIf="!isView">
                                    <option disabled selected value=""></option>
                                    <option [value]="language.code" *ngFor="let language of languageCode">{{language.code}}</option>
                                </select>
                                <span *ngIf="isView">{{objectDescription.value.langCode}}</span>
                            </div>
                        </div>

                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="objectDescription.value.alreadyExist ? editDescription(objectDescription) : addDescription(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectDescription(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>

<div class="row" *ngIf="!isView">
    <div class="col-12 text-center mt-5 justify-content-center">
        <button class="btn btn-primary" (click)="addObjectDescription()">
            <i class="fa fa-plus"></i>
            Add new object description
        </button>
    </div>
</div>