<form [formGroup]="form">
    <ng-template [ngIf]="studyRelationships().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No study relationships yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="studyRelationships().length > 0">
        <div formArrayName="studyRelationships">
            <div class="row" *ngFor="let studyRelation of studyRelationships().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            {{findRelationshipType(studyRelation.value.relationshipTypeId)}}
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Relationship type</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="relationshipTypeId" *ngIf="!isView">
                                    <option disabled selected value="">Select an option...</option>
                                    <option [value]="relationship.id" *ngFor="let relationship of relationshipType">{{relationship.name}}</option>
                                </select>
                                <span *ngIf="isView">{{findRelationshipType(studyRelation.value.relationshipTypeId)}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Target study</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" formControlName="targetSdSid" *ngIf="!isView"/>
                                <span *ngIf="isView">{{studyRelation.value.targetSdSid}}</span>
                            </div>
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="studyRelation.value.alreadyExist ? editRelationship(studyRelation) : addRelationship(i)">Save</button>
                            <button mat-button color="warn" (click)="removeStudyRelation(i)">
                                Remove
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>

<div class="row" *ngIf="!isView">
    <div class="col-12 text-center justify-content-center mt-5">
        <button class="btn btn-primary" (click)="addStudyRelation()">
            <i class="fa fa-plus"></i>Add new study relationship
        </button>
    </div>
</div>