<form [formGroup]="form">
    <ng-template [ngIf]="studyIdentifiers().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No study identifiers yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="studyIdentifiers().length > 0">
        <div formArrayName="studyIdentifiers" >
            <div class="row" *ngFor="let studyIdentifier of studyIdentifiers().controls; let i = index"
                [formGroupName]="i">
                <div class="col-12 mb-5">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            {{studyIdentifier.value.identifierValue}}
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Identifier type</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="identifierTypeId" *ngIf="!isView">
                                    <option disabled selected value="">Select an option...</option>
                                    <option [value]=identifier.id *ngFor="let identifier of identifierTypes">{{identifier.name}}</option>
                                </select>
                                <span *ngIf="isView">{{findIdentifierType(studyIdentifier.value.identifierTypeId)}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Identifier value</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="identifierValue" *ngIf="!isView"/>
                                <span *ngIf="isView">{{studyIdentifier.value.identifierValue}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Identifier organisation</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="identifierOrg" *ngIf="!isView"/>
                                <span *ngIf="isView">{{studyIdentifier.value.identifierOrg}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Identifier date</strong>
                            </div>
                            <div class="col-md-8">
                                <div *ngIf="!isView">
                                    <!-- <form class="form-inline"> -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd" name="identifierDate"
                                                ngbDatepicker #identifierDate="ngbDatepicker"
                                                formControlName="identifierDate">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" (click)="identifierDate.toggle()"
                                                    type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </form> -->
                                </div>
                                <span *ngIf="isView">{{dateToString(studyIdentifier.value.identifierDate)}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Identifier link</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="identifierLink" *ngIf="!isView"/>
                                <span *ngIf="isView">{{studyIdentifier.value.identifierLink}}</span>
                            </div>
                        </div>
                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="studyIdentifier.value.alreadyExist ? editIdentifier(studyIdentifier) : addIdentifier(i)">Save</button>
                            <button mat-button color="warn" (click)="removeStudyIdentifier(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>
<div class="row" *ngIf="!isView">
    <div class="col-12 text-center justify-content-center mt-5">
        <button class="btn btn-primary" (click)="addStudyIdentifier()">
            <i class="fa fa-plus"></i> Add new study identifier
        </button>
    </div>
</div>