<div class="card">
    <div class="card-header">
        <h2>{{ isView ? 'View data object' : isEdit ? 'Edit data object details' : 'Add new data object'}}</h2>
        <div style="float: right; margin-top: -40px;" *ngIf="isView">
            <a [routerLink]="['/data-objects', id, 'edit']" class="btn btn-primary mr-5" target="_blank">
                <i class="fa fa-edit"></i> Edit
            </a>
            <button class="btn btn-primary mr-1">
                <i class="fa fa-print"></i> Print
            </button>
            <button class="btn btn-primary">
                <i class="fa fa-code"></i> JSON
            </button>
        </div>
        <div id="navbar">
            <h6>{{objectData?.displayTitle}}</h6>
        </div>
    </div>

    <div class="card-body">
        <form [formGroup]="objectForm">
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="displayTitle" class="font-style text-capitalize">Display title</label>
                    <textarea id="displayTitle" cols="30" rows="3" class="form-control" placeholder="Enter display title..."
                    formControlName="displayTitle" *ngIf="!isView" ></textarea>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.displayTitle}}</h6>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label for="doi" class="font-style text-capitalize">DOI</label>
                    <input id="doi" type="text" class="form-control" placeholder="Enter DOI..." formControlName="doi"
                        *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.doi}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="version" class="font-style text-capitalize">Version</label>
                    <input type="text" id="version" class="form-control" placeholder="Enter version..." formControlName="version"
                        *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.version}}</h6>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label for="objectClassId" class="font-style text-capitalize">Object class</label>
                    <select id="objectClassId" class="form-control" formControlName="objectClassId" *ngIf="!isView" (change)="onChange()">
                        <option selected disabled value="">Select an option...</option>
                        <option [value]=class.id *ngFor="let class of objectClass">{{class.name}}</option>
                    </select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{findObjectClass(objectData.objectClassId)}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="objectTypeId" class="font-style text-capitalize">Object type</label>
                    <select id="objectTypeId" class="form-control" formControlName="objectTypeId" *ngIf="!isView" (change)="onTypeChange()">
                        <option selected disabled value="">Select an option...</option>
                        <option [value]=type.id *ngFor="let type of objectType">{{type.name}}</option>
                    </select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{findobjectType(objectData.objectTypeId)}}</h6>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label for="publicationYear" class="font-style text-capitalize">Publication year</label>
                    <input id="publicationYear" type="text" class="form-control" placeholder="Enter publication year..."
                        formControlName="publicationYear" *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.publicationYear}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="langCode" class="font-style text-capitalize">Language</label>
                    <select id="langCode" class="form-control" formControlName="langCode" *ngIf="!isView">
                        <option selected disabled value="">Select an option...</option>
                        <option [value]="language.code" *ngFor="let language of languageCode">{{language.code}}</option>
                    </select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.langCode}}</h6>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="managingOrg" class="font-style text-capitalize">Managing organisation</label>
                    <input id="managingOrg" type="text" class="form-control" placeholder="Enter managing organisation..."
                        formControlName="managingOrg" *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.managingOrg}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="accessTypeId" class="font-style text-capitalize">Access type</label>
                    <select id="accessTypeId" class="form-control" formControlName="accessTypeId" *ngIf="!isView">
                        <option selected disabled value="">Select an option...</option>
                        <option [value]=access.id *ngFor="let access of accessType">{{access.name}}</option>
                    </select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{findAccessType(objectData.accessTypeId)}}</h6>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="eoscCategory" class="font-style text-capitalize">EOSC category</label>
                    <select id="eoscCategory" class="form-control" formControlName="eoscCategory" *ngIf="!isView">
                        <option selected disabled value="0">Select an option...</option>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.eoscCategory}}</h6>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6 style="font-weight: 100;" class="pt-3 font-style">Access details</h6>
                </div>
            </div>
            <br />
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="accessDetails" class="font-style text-capitalize">Description</label>
                    <textarea id="accessDetails" class="form-control" cols="30" rows="5" placeholder="Enter description..."
                        formControlName="accessDetails" *ngIf="!isView"></textarea>
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.accessDetails}}</h6>
                </div>
                <div class="col-md-6">
                    <label for="accessDetailsUrl" class="font-style text-capitalize">URL</label>
                    <input id="accessDetailsUrl" type="text" class="form-control" placeholder="Enter a parameter..."
                        formControlName="accessDetailsUrl" *ngIf="!isView" />
                    <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.accessDetailsUrl}}</h6>
                </div>
            </div>
            <hr />
            <div formGroupName="objectDatasets" *ngIf="showDatasetKey">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Dataset record keys</span>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="recordKeysDetails" class="font-style text-capitalize">Keys details</label>
                        <textarea id="recordKeysDetails" class="form-control" cols="30" rows="5" placeholder="Enter a parameter"
                            formControlName="recordKeysDetails" *ngIf="!isView"></textarea>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.recordKeysDetails}}</h6>
                    </div>
                    <div class="col-md-6">
                        <label for="recordKeysTypeId" class="font-style text-capitalize">Keys type</label>
                        <select id="recordKeysTypeId" class="form-control" formControlName="recordKeysTypeId" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option [value]=key.id *ngFor="let key of keyType">{{key.name}}</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{findKeyType(objectData.objectDatasets?.recordKeysTypeId)}}</h6>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Dataset deidentification level</span>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="deidentTypeId" class="font-style text-capitalize">Deidentification type</label>
                        <select id="deidentTypeId" class="form-control" formControlName="deidentTypeId" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option [value]=identification.id *ngFor="let identification of deidentificationType">
                                {{identification.name}}</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{findDeidentificationType(objectData.objectDatasets?.deidentTypeId)}}</h6>
                    </div>
                    <div class="col-md-6">
                        <label for="deidentDirect" class="font-style text-capitalize">Deidentification direct</label>
                        <select id="deidentDirect" class="form-control" formControlName="deidentDirect" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option value=false>No</option>
                            <option value=true>Yes</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.deidentDirect}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="deidentHipaa" class="font-style text-capitalize">Deidentification HIPAA</label>
                        <select id="deidentHipaa" class="form-control" formControlName="deidentHipaa" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option value=false>No</option>
                            <option value=true>Yes</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.deidentHipaa}}</h6>
                    </div>
                    <div class="col-md-6">
                        <label for="deidentDates" class="font-style text-capitalize">Deidentification dates</label>
                        <select id="deidentDates" class="form-control" formControlName="deidentDates" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option value=false>No</option>
                            <option value=true>Yes</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.deidentDates}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="deidentNonarr" class="font-style text-capitalize">Deidentification NOARR</label>
                        <select id="deidentNonarr" class="form-control" formControlName="deidentNonarr" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option value=false>No</option>
                            <option value=true>Yes</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.deidentNonarr}}</h6>
                    </div>
                    <div class="col-md-6">
                        <label for="deidentKanon" class="font-style text-capitalize">Deidentification KANON</label>
                        <select id="deidentKanon" class="form-control" formControlName="deidentKanon" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option value=false>No</option>
                            <option value=true>Yes</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.deidentKanon}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="deidentDetails" class="font-style text-capitalize">Deidentification details</label>
                        <textarea id="deidentDetails" class="form-control" cols="30" rows="5" placeholder="Enter a parameter"
                            formControlName="deidentDetails" *ngIf="!isView"></textarea>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.deidentDetails}}</h6>
                    </div>
                </div>


                <hr />

                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Dataset consent</span>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="consentTypeId" class="font-style text-capitalize">Consent type</label>
                        <select id="consentTypeId" class="form-control" formControlName="consentTypeId" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option [value]=consent.id *ngFor="let consent of consentType">{{consent.name}}</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{findConsentType(objectData.objectDatasets?.consentTypeId)}}</h6>
                    </div>
                    <div class="col-md-6">
                        <label for="consentNoncommercial" class="font-style text-capitalize">Consent noncommercial</label>
                        <select id="consentNoncommercial" class="form-control" formControlName="consentNoncommercial" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option value=false>No</option>
                            <option value=true>Yes</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.consentNoncommercial}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="consentGeogRestrict" class="font-style text-capitalize">Consent geographical restrict</label>
                        <select id="consentGeogRestrict" class="form-control" formControlName="consentGeogRestrict" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option value=false>No</option>
                            <option value=true>Yes</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.consentGeogRestrict}}</h6>
                    </div>
                    <div class="col-md-6">
                        <label for="consentResearchType" class="font-style text-capitalize">Consent research type</label>
                        <select id="consentResearchType" class="form-control" formControlName="consentResearchType" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option value=false>No</option>
                            <option value=true>Yes</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.consentResearchType}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="consentGeneticOnly" class="font-style text-capitalize">Consent genetic only</label>
                        <select id="consentGeneticOnly" class="form-control" formControlName="consentGeneticOnly" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option value=false>No</option>
                            <option value=true>Yes</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.consentGeneticOnly}}</h6>
                    </div>
                    <div class="col-md-6">
                        <label for="consentNoMethods" class="font-style text-capitalize">Consent no methods</label>
                        <select id="consentNoMethods" class="form-control" formControlName="consentNoMethods" *ngIf="!isView">
                            <option selected disabled value="">Select an option...</option>
                            <option value=false>No</option>
                            <option value=true>Yes</option>
                        </select>
                        <h6 style="font-weight: 100;" *ngIf="isView">{{objectData.objectDatasets?.consentNoMethods}}</h6>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="consentDetails" class="font-style text-capitalize">Consent details</label>
                        <textarea id="consentDetails" class="form-control" cols="30" rows="5" placeholder="Enter a parameter"
                            formControlName="consentDetails" *ngIf="!isView"></textarea>
                        <h6  style="font-weight: 100;"*ngIf="isView">{{objectData.objectDatasets?.consentDetails}}</h6>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="pt-3 font-style">Object instance(s)</span>
                </div>
            </div>
            <br />
            <app-object-instance [sdOid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit"
                (emitInstance)="getInstance($event)"></app-object-instance>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="pt-3 font-style">Object title(s)</span>
                </div>
            </div>
            <br />
            <app-object-title [sdOid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit"
                (emitTitle)="getTitle($event)"></app-object-title>
            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="pt-3 font-style">Object date(s)</span>
                </div>
            </div>
            <br />
            <app-object-date [sdOid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit"
                (emitDate)="getDate($event)"></app-object-date>
            <hr />
            <ng-container *ngIf="showContributor">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Object contributor(s)</span>
                    </div>
                </div>
                <br />
                <app-object-contributor [sdOid]="id" [isView]="isView" [isEdit]="isEdit"
                    [initiateEmit]="initiateEmit" (emitContributor)="getContributor($event)"></app-object-contributor>
                <hr />
            </ng-container>
            <ng-container *ngIf="showTopic">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="pt-3 font-style">Object topic(s)</span>
                    </div>
                </div>
                <br />
                <app-object-topic [sdOid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit"
                    (emitTopic)="getTopic($event)"></app-object-topic>
                <hr />
            </ng-container>

            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="pt-3 font-style">Object identifier(s)</span>
                </div>
            </div>
            <br />
            <app-object-identifier [sdOid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit"
                (emitIdentifier)="getIdentifier($event)"></app-object-identifier>

            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="pt-3 font-style">Object descriptions(s)</span>
                </div>
            </div>
            <br />
            <app-object-description [sdOid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit"
                (emitDescription)="getDescription($event)"></app-object-description>
            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="pt-3 font-style">Object right(s)</span>
                </div>
            </div>
            <br />
            <app-object-right [sdOid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit"
                (emitRight)="getRight($event)"></app-object-right>
            <hr />

            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="pt-3 font-style">Object relationship(s)</span>
                </div>
            </div>
            <br />
            <app-object-relationship [sdOid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit"
                (emitRelation)="getRelation($event)"></app-object-relationship>
            <hr />

            <div class="row">
                <div class="col-md-12 justify-content-center text-center">
                    <button class="btn btn-success mr-5" *ngIf="!isView" (click)="onClick()">{{isEdit ? 'Apply Changes'
                        : 'Save'}}</button>
                    <button class="btn btn-danger" (click)="close()"> {{isView ? 'Back' : 'Cancel'}}</button>
                </div>
            </div>

        </form>
    </div>
</div>

<br />