<div class="row">
    <div class="col-12">
        <select class="form-control">
            <option selected disabled value="">Select...</option>
            <option value="">Study type</option>
            <option value="">Study class</option>
            <option value="">...</option>
        </select>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr class="d-flex">
                    <th class="col-3 text-center" scope="col">Name</th>
                    <th class="col-9 text-center" scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <td class="col-3 text-center">
                        <strong>Name 1</strong>
                    </td>
                    <td class="col-9">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci architecto autem consequatur doloribus earum eos esse,
                        exercitationem ipsum iure magni maiores minima minus natus necessitatibus
                        quas quasi rem repellat suscipit.
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-3 text-center">
                        <strong>Name 2</strong>
                    </td>
                    <td class="col-9">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci architecto autem consequatur doloribus earum eos esse,
                        exercitationem ipsum iure magni maiores minima minus natus necessitatibus
                        quas quasi rem repellat suscipit.
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-3 text-center">
                        <strong>Name 3</strong>
                    </td>
                    <td class="col-9">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci architecto autem consequatur doloribus earum eos esse,
                        exercitationem ipsum iure magni maiores minima minus natus necessitatibus
                        quas quasi rem repellat suscipit.
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-3 text-center">
                        <strong>Name 4</strong>
                    </td>
                    <td class="col-9">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci architecto autem consequatur doloribus earum eos esse,
                        exercitationem ipsum iure magni maiores minima minus natus necessitatibus
                        quas quasi rem repellat suscipit.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
