<!-- <div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #FFFFFF;">
      <div class="d-flex flex-column-auto flex-column">
        <div style="margin: auto; line-height: 100px;">
          <a href="https://ecrin.org/" class="text-center mb-10 mr-5" target="_blank">
            <img src="./assets/media/logos/ecrin_logo_color_rvb.png" class="max-h-60px mr-5" alt=""
              style="height: 60px; width: 170px; vertical-align: middle;" />
          </a>
          <a href="https://www.uio.no/english/services/it/research/sensitive-data/" class="text-center mb-10 mr-5"
            target="_blank">
            <img src="./assets/media/logos/tsd-logo-small.png" class="max-h-70px" alt=""
              style="height: 70px; width: 60px; vertical-align: middle;" />
          </a>
          <a href="https://www.eosc-life.eu/" class="text-center mb-10 mr-5" target="_blank">
            <img src="./assets/media/logos/Logo-EOSC-Life.png" class="max-h-90px mr-5" alt=""
              style="height: 90px; width: 115px; vertical-align: middle;" />
          </a>
        </div>
      </div>
      <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center"
        style="background-image: url('./assets/media/images/background-1.png')"></div>
    </div>
    <div
      class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
      <div class="d-flex flex-column-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->
<div class="header" style="height: 80px;">
  <div class="dropdown show mt-auto">
    <i class="fas fa-align-justify dropdown-toggle" style="cursor: pointer; font-size: 25px;" aria-hidden="true" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="javascript:void(0)">About</a>
      <a class="dropdown-item" href="javascript:void(0)" (click)="goToUserGuide()">User Guide</a>
      <a class="dropdown-item" href="javascript:void(0)" (click)="goToMdr()">MDR</a>
      <a class="dropdown-item" href="javascript:void(0)">Legal Notice</a>
      <a class="dropdown-item" href="javascript:void(0)">Data Privacy Policy</a>
    </div>
  </div>
  <div class="header-right">
    <a href="https://ecrin.org/" target="_blank"><img src="./assets/media/logos/ecrin-logo.png" style="height: 55px;" /></a>
    <a href="https://www.uio.no/english/services/it/research/sensitive-data/" target="_blank"><img src="./assets/media/logos/uio-english.jpg" style="height: 55px;" /></a>
  </div>
</div>
<div class="row" style="height: 75vh; width: 101vw;">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <div class="row pt-10">
      <div class="col-md-3 text-center p-0">
        <img src="./assets/media/logos/icon-blue.png" alt="">
      </div>
      <div class="col-md-9 m-auto p-0">
        <span class="text-uppercase" style="font-size: 35px; font-weight: bold;">Clinical Research Repository</span>
      </div>
    </div>
    <div class="row pt-10">
      <div class="col-md-12 text-center">
        <span style="font-size: 14px;">Supporting clinical researchersin sharing their data for re-analysis and
          secondary analysis.</span>
      </div>
    </div>
    <div class="row pt-10">
      <div class="col-md-4 text-center"><button class="btn btn-primary" style="background: #000091; font-weight: bold;"
          (click)="login()">Login</button></div>
      <div class="col-md-4 text-center"><button class="btn btn-primary" style="background: #000091; font-weight: bold;"
          (click)="goToContact()">Contact Us</button></div>
      <div class="col-md-4 text-center"><button class="btn btn-primary" style="background: #000091; font-weight: bold;"
          (click)="goToBrowse()">Browse</button></div>
    </div>
  </div>
</div>
<div class="row" style="background-color: #000091; height: 70px; width: 101vw; position: relative; bottom: 0;">
  <div class="col-2 col-md-2 m-auto p-0" style="background: white;">
    <img src="./assets/media/logos/funded.png" alt="" class="img-fluid">
  </div>
  <div class="col-2 col-md-2 m-auto">
    <ul style="color: white; list-style: none; font-size: 14px; margin-bottom: 0;">
      <li style="cursor: pointer;">About</li>
      <li style="cursor: pointer;" (click)="goToUserGuide()">User Guide</li>
      <li style="cursor: pointer;" (click)="goToMdr()">MDR</li>
    </ul>
  </div>
  <div class="col-5 col-md-5 text-right">
    <span style="font-size: 9px; color: white;">All Projects are supported by the Horizon Europe and Horizon 2020
      Programme.<br> Canserv under GA 101058620, BY-COVID under GA 101046203 <br> EOSC-Life under GA 824087</span>
  </div>
  <div class="col-3 col-md-3 m-auto">
    <div class="row">
      <div class="col-4 col-md-4 p-0"><a href="https://www.eosc-life.eu/" target="_blank"><img src="./assets/media/logos/eoscBW.png" alt="" class="img-fluid"></a></div>
      <div class="col-4 col-md-4 p-0"><a href="https://by-covid.org/" target="_blank"><img src="./assets/media/logos/bycovdBW.png" alt="" class="img-fluid"></a></div>
      <div class="col-4 col-md-4 p-0"><a href="https://www.canserv.eu/" target="_blank"><img src="./assets/media/logos/canservBW.png" alt="" class="img-fluid"></a></div>
    </div>
  </div>
</div>