<div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #FFFFFF;">
      <div class="d-flex flex-column-auto flex-column">
        <div style="margin: auto; line-height: 100px;">
          <a href="https://ecrin.org/" class="text-center mb-10 mr-5" target="_blank">
            <img src="./assets/media/logos/ecrin_logo_color_rvb.png" class="max-h-60px mr-5" alt=""
              style="height: 60px; width: 170px; vertical-align: middle;" />
          </a>
          <a href="https://www.uio.no/english/services/it/research/sensitive-data/" class="text-center mb-10 mr-5"
            target="_blank">
            <img src="./assets/media/logos/tsd-logo-small.png" class="max-h-70px" alt=""
              style="height: 70px; width: 60px; vertical-align: middle;" />
          </a>
          <a href="https://www.eosc-life.eu/" class="text-center mb-10 mr-5" target="_blank">
            <img src="./assets/media/logos/Logo-EOSC-Life.png" class="max-h-90px mr-5" alt=""
              style="height: 90px; width: 115px; vertical-align: middle;" />
          </a>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-12 text-center" style="color: #315492 !important;">Please complete the form opposite and click Send. We will contact you as soon as possible and, where appropriate, arrange further contact. <br> Thank you.
        </div>
      </div> -->
      <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center"
        style="background-image: url('./assets/media/images/background-1.png')"></div>
    </div>
    <div
      class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
      <div class="d-flex flex-column-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>