<form [formGroup]="form">
    <ng-template [ngIf]="objectContributors().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object contributors yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectContributors().length > 0">
        <div formArrayName="objectContributors">
            <div class="row" *ngFor="let objectContributor of objectContributors().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            {{findContributorType(objectContributor.value.contribTypeId)}}
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Contributor type</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="contribTypeId" *ngIf="!isView">
                                    <option selected disabled value="">Select an option...</option>
                                    <option [value]=contributor.id *ngFor="let contributor of contributorType">{{contributor.name}}</option>
                                </select>
                                <span *ngIf="isView">{{findContributorType(objectContributor.value.contribTypeId)}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Is individual?</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="isIndividual" *ngIf="!isView">
                                    <option selected disabled value="">Select an option...</option>
                                    <option value=false>No</option>
                                    <option value=true>Yes</option>
                                </select>
                                <span *ngIf="isView">{{objectContributor.value.isIndividual}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Organisation</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="organisationName" *ngIf="!isView" />
                                <span *ngIf="isView">{{objectContributor.value.organisationName}}</span>
                            </div>
                        </div>
                        <br />

                        <!-- <div formGroupName="person"> -->
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <strong>Person: Family name</strong>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Enter a parameter..."
                                        formControlName="personFamilyName" *ngIf="!isView">
                                    <span *ngIf="isView">{{objectContributor.value.personFamilyName}}</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <strong>Person: Given name</strong>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Enter a parameter..."
                                        formControlName="personGivenName" *ngIf="!isView">
                                    <span *ngIf="isView">{{objectContributor.value.personGivenName}}</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <strong>Person: ORCID</strong>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Enter a parameter..."
                                        formControlName="orcidId" *ngIf="!isView">
                                    <span *ngIf="isView">{{objectContributor.value.orcidId}}</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <strong>Person: Affiliation</strong>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Enter a parameter..."
                                        formControlName="personAffiliation" *ngIf="!isView">
                                    <span *ngIf="isView">{{objectContributor.value.personAffiliation}}</span>
                                </div>
                            </div>
                        <!-- </div> -->

                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="objectContributor.value.alreadyExist ? editContributor(objectContributor) : addContributor(i)">Save</button>
                            <button mat-button color="warn" (click)="removeObjectContributor(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>

<div class="row" *ngIf="!isView">
    <div class="col-12 text-center mt-5 justify-content-center">
        <button class="btn btn-primary" (click)="addObjectContributor()">
            <i class="fa fa-plus"></i>
            Add new object contributor
        </button>
    </div>
</div>