<div class="row form-group">
    <div class="col-md-12">
        <label for="" class="font-style text-capitalize">How can we help you?</label>
        <select class="form-control" name="" id="">
            <option disabled selected value="">Select an option...</option>
            <option value="">Want to upload information</option>
            <option value="">Want to access the data</option>
            <option value="">Want to get more information?</option>
        </select>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <label for="" class="font-style text-capitalize">First name</label>
        <input type="text" class="form-control" placeholder="First Name">
    </div>
    <div class="col-md-6">
        <label for="" class="font-style text-capitalize">Last name</label>
        <input type="text" class="form-control" placeholder="Last Name">
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <label for="" class="font-style text-capitalize">Organization</label>
        <input type="text" class="form-control" placeholder="Organization">
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <label for="" class="font-style text-capitalize">Email</label>
        <input type="text" class="form-control" placeholder="Email">
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12 text-center">
        <button class="btn-primary btn w-25">Send</button>
    </div>
</div>