<div class="card">
    <div class="card-header">
        <h2>{{ isView ? 'View study details' : isEdit ? 'Edit study details' : 'Add a new study'}}</h2>
        <div style="float: right; margin-top: -40px;" *ngIf="isView">
            <a [routerLink]="['/studies', id, 'edit']"
               class="btn btn-primary mr-5" target="_blank">
                <i class="fa fa-edit"></i> Edit
            </a>
            <button class="btn btn-primary mr-1">
                <i class="fa fa-print"></i> Print
            </button>
            <button class="btn btn-primary">
                <i class="fa fa-code"></i> JSON
            </button>
        </div>
    </div>

    <div class="card-body" >
        <form [formGroup]="studyForm">
            <div class="row">
                <div class="col-4 text-center">
                    <h6 class="pt-4">Display title</h6>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter study display title..." 
                    formControlName="displayTitle" *ngIf="!isView"/>
                    <h6 *ngIf="isView" class="pt-4" style="font-weight: 100;">{{studyData?.displayTitle}}</h6>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-4 text-center">
                    <h6 class="">Brief description</h6>
                </div>
                <div class="col-8">
                    <textarea class="form-control" cols="30" rows="5" placeholder="Enter a brief description..."
                        formControlName="briefDescription" *ngIf="!isView">
                    </textarea>
                    <h6 *ngIf="isView" class="pt-4" style="font-weight: 100;">{{studyData?.briefDescription}}</h6>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-4 text-center">
                    <h6 class="pt-4">Data sharing statement</h6>
                </div>
                <div class="col-8">
                    <textarea class="form-control" cols="30" rows="5" placeholder="Enter a data sharing statement"
                        formControlName="dataSharingStatement" *ngIf="!isView"></textarea>
                    <h6 *ngIf="isView" class="pt-4" style="font-weight: 100;">{{studyData?.dataSharingStatement}}</h6>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-4 text-center">
                    <h6 class="pt-4">Study type</h6>
                </div>
                <div class="col-8">
                    <select class="form-control" formControlName="studyTypeId" *ngIf="!isView">
                        <option selected disabled value="">Select an option...</option>
                        <option [value]=type.id *ngFor="let type of studyTypes">{{type.name}}</option>
                    </select>
                    <h6 *ngIf="isView" class="pt-4" style="font-weight: 100;">{{studyTypeView?.name}}</h6>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-4 text-center">
                    <h6 class="pt-4">Study status</h6>
                </div>
                <div class="col-8">
                    <select class="form-control" formControlName="studyStatusId" *ngIf="!isView">
                        <option selected disabled value="">Select an option...</option>
                        <option [value]=status.id *ngFor="let status of studyStatuses">{{status.name}}</option>
                    </select>
                    <h6 *ngIf="isView" class="pt-4" style="font-weight: 100;">{{studyStatusView?.name}}</h6>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-4 text-center">
                    <h6 class="pt-4">Study enrollment</h6>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter study enrollment..."
                        formControlName="studyEnrolment" *ngIf="!isView"/>
                    <h6 *ngIf="isView" class="pt-4" style="font-weight: 100;">{{studyData?.studyEnrolment}}</h6>   
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-4 text-center">
                    <h6 class="pt-4">Study gender eligibility</h6>
                </div>
                <div class="col-8">
                    <select class="form-control" formControlName="studyGenderEligId" *ngIf="!isView">
                        <option selected disabled value="">Select an option...</option>
                        <option [value]=gender.id *ngFor="let gender of genderEligibility">{{gender.name}}</option>
                    </select>
                    <h6 *ngIf="isView" class="pt-4" style="font-weight: 100;">{{studyGenderView?.name}}</h6> 
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-4 text-center">
                    <h6 class="pt-4">Min age</h6>
                </div>
                <div class="col-8">
                    <div class="row" *ngIf="!isView">
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="Enter a min age value..."
                                formControlName="minAge" />
                        </div>
                        <div class="col-4">
                            <select class="form-control" formControlName="minAgeUnitsId">
                                <option selected disabled value="">Select an option...</option>
                                <option [value]=unit.id *ngFor="let unit of timeUnits">{{unit.name}}</option>
                            </select>
                        </div>
                    </div>
                    <h6 *ngIf="isView" class="pt-4" style="font-weight: 100;">{{studyData?.minAge}}&nbsp;{{studyMinAgeView?.name}}</h6> 
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-4 text-center">
                    <h6 class="pt-4">Max age</h6>
                </div>
                <div class="col-8">
                    <div class="row" *ngIf="!isView">
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="Enter a max age value..."
                                formControlName="maxAge" />
                        </div>
                        <div class="col-4">
                            <select class="form-control" formControlName="maxAgeUnitsId">
                                <option selected disabled value="">Select an option...</option>
                                <option [value]=unit.id *ngFor="let unit of timeUnits">{{unit.name}}</option>
                            </select>
                        </div>
                    </div>
                    <h6 *ngIf="isView" class="pt-4" style="font-weight: 100;">{{studyData?.maxAge}}&nbsp;{{studyMaxAgeView?.name}}</h6> 
                </div>
            </div>

            <hr />

            <div class="row" >
                <div class="col-12 text-center">
                    <h6 class="pt-3">Study identifier(s)</h6>
                </div>
            </div>
            <br />

           <app-study-identifier [sdSid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit" (emitIdentifier)="getIdentifier($event)"></app-study-identifier>

            <hr />

            <div class="row">
                <div class="col-12 text-center">
                    <h6 class="pt-3">Study title(s)</h6>
                </div>
            </div>
            <br />
            <app-study-title [sdSid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit" (emitTitle)="getTitle($event)"></app-study-title>
            <hr />

            <div class="row">
                <div class="col-12 text-center">
                    <h6 class="pt-3">Study feature(s)</h6>
                </div>
            </div>
            <br />

            <app-study-feature [sdSid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit" (emitFeature)="getFeature($event)"></app-study-feature>


            <hr />

            <div class="row">
                <div class="col-12 text-center">
                    <h6 class="pt-3">Study topic(s)</h6>
                </div>
            </div>
            <br />
            <app-study-topic [sdSid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit" (emitTopic)="getTopic($event)"></app-study-topic>
            <hr />

            <div class="row">
                <div class="col-12 text-center">
                    <h6 class="pt-3">Study relationship(s)</h6>
                </div>
            </div>
            <br />
            <app-study-relationship [sdSid]="id" [isView]="isView" [isEdit]="isEdit" [initiateEmit]="initiateEmit" (emitRelation)="getRelation($event)"></app-study-relationship>
            <hr />

            <div class="row">
                <div class="col-12 justify-content-center text-center">
                    <button class="btn btn-success mr-5" *ngIf="!isView" (click)="onClick()">{{isEdit ? 'Apply Changes' : 'Save'}}</button>
                    <button class="btn btn-danger"> {{isView ? 'Back' : 'Cancel'}}</button>
                </div>
            </div>

        </form>

    </div>
</div>

<br />