<form [formGroup]="form">
    <ng-template [ngIf]="studyTopics().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No study topics yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="studyTopics().length > 0">
        <div formArrayName="studyTopics">
            <div class="row" *ngFor="let studyTopic of studyTopics().controls; let i = index;" [formGroupName]="i">
                <div class="col-12 mb-5">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            {{findTopicType(studyTopic.value.topicTypeId)}}
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Topic type</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="topicTypeId" *ngIf="!isView">
                                    <option disabled selected value="">Select an option...</option>
                                    <option [value]="title.id" *ngFor="let title of topicTypes">{{title.name}}</option>
                                </select>
                                <span *ngIf="isView">{{findTopicType(studyTopic.value.topicTypeId)}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Mesh coded</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="meshCoded" *ngIf="!isView">
                                    <option disabled selected value=""></option>
                                    <option value=true>Yes</option>
                                    <option value=false>No</option>
                                </select>
                                <span *ngIf="isView">{{studyTopic.value.meshCoded}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Topic code</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="meshCode" *ngIf="!isView"/>
                                <span *ngIf="isView">{{studyTopic.value.meshCode}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Topic value</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="meshValue" *ngIf="!isView"/>
                                <span *ngIf="isView">{{studyTopic.value.meshValue}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Topic qualcode</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="meshQualcode" *ngIf="!isView"/>
                                <span *ngIf="isView">{{studyTopic.value.meshQualcode}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Topic qualvalue</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="meshQualvalue" *ngIf="!isView"/>
                                <span *ngIf="isView">{{studyTopic.value.meshQualvalue}}</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Original value</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="originalValue" *ngIf="!isView"/>
                                <span *ngIf="isView">{{studyTopic.value.originalValue}}</span>
                            </div>
                        </div>

                        <mat-action-row *ngIf="!isView">
                            <button mat-button color="primary" (click)="studyTopic.value.alreadyExist ? editTopic(studyTopic) : addTopic(i)">Save</button>
                            <button mat-button color="warn" (click)="removeStudyTopic(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>

<div class="row" *ngIf="!isView">
    <div class="col-12 text-center justify-content-center mt-5">
        <button class="btn btn-primary" (click)="addStudyTopic()">
            <i class="fa fa-plus"></i> Add new study topic
        </button>
    </div>
</div>