<form [formGroup]="form">
    <ng-template [ngIf]="studyTopics().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No study topics yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="studyTopics().length > 0">
        <div formArrayName="studyTopics">
            <div class="row" *ngFor="let studyTopic of studyTopics().controls; let i = index;" [formGroupName]="i">
                <div class="col-12 mb-5">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Topic {{i + 1}}
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Topic type</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="topicType">
                                    <option disabled selected value="">Select an option...</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Mesh coded</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" formControlName="meshCoded">
                                    <option disabled selected value=""></option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Topic code</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="topicCode" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Topic value</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="topicValue" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Topic qualcode</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="topicQualCode" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Topic qualvalue</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="topicQualValue" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Original value</strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="originalValue" />
                            </div>
                        </div>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="removeStudyTopic(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>

<div class="row">
    <div class="col-12 text-center justify-content-center mt-5">
        <button class="btn btn-primary" (click)="addStudyTopic()">
            <i class="fa fa-plus"></i> Add new study topic
        </button>
    </div>
</div>