<!--begin::Advance Table Widget 9-->
<div class="card card-custom" [ngClass]="cssClass">
  <!--begin::Header-->
  <div class="card-header border-0 py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">New users</span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm"
        >5 latest RMS users and/or organisations</span
      >
    </h3>
  </div>
  <!--end::Header-->

  <!--begin::Body-->
  <div class="card-body pt-0 pb-3">
    <div class="tab-content">
      <!--begin::Table-->
      <div class="table-responsive">
        <table
          class="table table-head-custom table-vertical-center table-head-bg table-borderless"
        >
          <thead>
            <tr class="text-left">
              <th style="min-width: 300px" class="pl-7">
                <span class="text-dark-75">User</span>
              </th>
              <th style="min-width: 120px">location</th>
              <th style="min-width: 150px">email</th>
              <th style="min-width: 100px">joined on</th>
              <th style="min-width: 100px"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pl-0 py-8">
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-50 symbol-light mr-4">
                    <span class="symbol-label">
                      <span
                        [inlineSVG]="'./assets/media/svg/avatars/001-boy.svg'"
                        cacheSVG="true"
                        class="svg-icon h-75 align-self-end"
                      ></span>
                    </span>
                  </div>
                  <div>
                    <span
                      class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"
                      >Sergei Gorianin</span
                    >
                    <span class="text-muted font-weight-bold d-block"
                      >ECRIN</span
                    >
                  </div>
                </div>
              </td>
              <td>
                <span
                  class="text-dark-75 font-weight-bolder d-block font-size-lg"
                >
                  Paris, France
                </span>
              </td>
              <td>
                <span
                  class="text-dark-75 font-weight-bolder d-block font-size-lg"
                >
                  sergei.gorianin@ecrin.org
                </span>
              </td>
              <td>
                <span
                  class="text-dark-75 font-weight-bolder d-block font-size-lg"
                >
                  04 May 2021
                </span>
              </td>
              <td class="pr-0 text-right">
                <a
                  href="#"
                  target="_blank"
                  class="btn btn-light-primary font-weight-bolder font-size-sm"
                  >View details</a
                >
              </td>
            </tr>
            <tr>
              <td class="pl-0 py-0">
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-50 symbol-light mr-4">
                    <span class="symbol-label">
                      <img
                        src="./assets/media/svg/avatars/018-girl-9.svg"
                        class="h-75 align-self-end"
                        alt=""
                      />
                    </span>
                  </div>
                  <div>
                    <span
                      class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"
                      >User 2</span
                    >
                    <span class="text-muted font-weight-bold d-block"
                      >Organisation</span
                    >
                  </div>
                </div>
              </td>
              <td>
                <span
                  class="text-dark-75 font-weight-bolder d-block font-size-lg"
                >
                  Berlin, Germany
                </span>
              </td>
              <td>
                <span
                  class="text-dark-75 font-weight-bolder d-block font-size-lg"
                >
                  mail@mail.org
                </span>
              </td>
              <td>
                <span
                  class="text-dark-75 font-weight-bolder d-block font-size-lg"
                >
                  27 June 2021
                </span>
              </td>
              <td class="pr-0 text-right">
                <a
                  href="#"
                  target="_blank"
                  class="btn btn-light-primary font-weight-bolder font-size-sm"
                  >View details</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--end::Table-->
    </div>
  </div>
  <!--end::Body-->
</div>
<!--end::Advance Table Widget 9-->
