<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 pb-2">
                <app-new-dtu></app-new-dtu>
            </div>
            <div class="col-md-12 py-2">
                <app-completed-dtu></app-completed-dtu>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <app-recent-dtu></app-recent-dtu>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 pb-2">
                <app-new-dup></app-new-dup>
            </div>
            <div class="col-md-12 py-2">
                <app-completed-dup></app-completed-dup>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <app-recent-dup></app-recent-dup>
    </div>
</div>

<br />

<div class="row">
    <div class="col-12 col-sm-12 col-md-6">
        <app-new-studies></app-new-studies>
    </div>
    <div class="col-12 col-sm-12 col-md-6 pt-4 pt-sm-4 pt-md-0">
        <app-new-objects></app-new-objects>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-4">
        <app-new-studies></app-new-studies>
    </div>
    <div class="col-md-8">
        <app-recent-studies></app-recent-studies>
    </div>
</div> -->


<br />


<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <app-recent-studies></app-recent-studies>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 pt-4 pt-sm-4 pt-md-0">
        <app-recent-objects></app-recent-objects>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-4">
        <app-new-objects></app-new-objects>
    </div>
    <div class="col-md-8">
        <app-recent-objects></app-recent-objects>
    </div>
</div> -->

<br />

<div class="row">
    <div class="col-12">
        <app-recent-users></app-recent-users>
    </div>
</div>

<br />
