<div class="row">
    <div class="col-6">
        <app-new-studies></app-new-studies>
    </div>
    <div class="col-6">
        <app-new-objects></app-new-objects>
    </div>
</div>

<br />

<div class="row">
    <div class="col-6">
        <app-recent-studies></app-recent-studies>
    </div>
    <div class="col-6">
        <app-recent-objects></app-recent-objects>
    </div>
</div>

<br />

<div class="row">
    <div class="col-4">
        <app-new-dtu></app-new-dtu>
        <br />
        <app-completed-dtu></app-completed-dtu>
    </div>
    <div class="col-8">
        <app-recent-dtu></app-recent-dtu>
    </div>
</div>

<br />

<div class="row">
    <div class="col-4">
        <app-new-dup></app-new-dup>
        <br />
        <app-completed-dup></app-completed-dup>
    </div>
    <div class="col-8">
        <app-recent-dup></app-recent-dup>
    </div>
</div>

<br />

<div class="row">
    <div class="col-12">
        <app-recent-users></app-recent-users>
    </div>
</div>

<br />

