<form [formGroup]="form">
    <ng-template [ngIf]="objectInstances().length <= 0">
        <div class="row">
            <div class="col-12 mb-3 mt-3 text-center justify-content-center">
                <p>No object instances yet</p>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="objectInstances().length > 0">
        <div formArrayName="objectInstances">
            <div class="row" *ngFor="let objectInstance of objectInstances().controls; let i = index;"
                [formGroupName]="i">
                <div class="col-12 mb-5">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Instance {{i + 1}}
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <strong>Repository organisation</strong>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Enter a parameter..."
                                    formControlName="repositoryOrg" />
                            </div>
                        </div>
                        <br />

                        <div formGroupName="accessDetails">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <strong>Access details: Direct access</strong>
                                </div>
                                <div class="col-8">
                                    <select class="form-control" formControlName="directAccess">
                                        <option selected disabled value="">Select an option...</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <strong>Access details: URL</strong>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" placeholder="Enter a parameter..."
                                        formControlName="url" />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div formGroupName="resourceDetails">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <strong>Resource details: Resource type</strong>
                                </div>
                                <div class="col-8">
                                    <select class="form-control" formControlName="typeName">
                                        <option selected disabled value="">Select an option...</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <strong>Resource details: Size</strong>
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-4">
                                            <input type="text" class="form-control" placeholder="Enter a parameter..."
                                                formControlName="size" />
                                        </div>
                                        <div class="col-4">
                                            <select class="form-control" formControlName="sizeUnit">
                                                <option selected disabled value="">Select an option...</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <strong>Resource details</strong>
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control" cols="30" rows="5" placeholder="Enter a parameter"
                                        formControlName="comments"></textarea>
                                </div>
                            </div>
                        </div>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="removeObjectInstance(i)">Remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </ng-template>
</form>

<div class="row">
    <div class="col-12 text-center justify-content-center mt-5">
        <button class="btn btn-primary" (click)="addObjectInstance()">
            <i class="fa fa-plus"></i> Add new object instance
        </button>
    </div>
</div>